.image{
    height:400px;
    /* padding-top:px; */
    padding-left:700px;
    padding-right:100px;
    text-align:left;
    /* padding-bottom:300px ; */
    size:5000px;
}

.h1{
    padding-right:500px;
    padding-top:10;
    color: rgb(22, 62, 22);
}
.hading{
    text-align: left;
    padding-left:13px;
}
.para{
    text-align:left;
    padding-left:15px;
}
/* .button{
    text-align: left;

    color:rgb(20, 27, 20);
    background-color:green;
    /* padding-left:15px */
